/* Remove ui elements */
#masthead-container #button,
#masthead-container #guide-button,
#masthead-container #logo,
#google_companion_ad_div,
#ytp-cards-button-icon,
#comments,
#continuations,
#meta-contents,
#upnext,
#video-annotations,
#menu-container,
#videoAdUi,
.adDisplay
ytd-item-section-renderer,
ytd-promoted-video-renderer,
#guide,
.ytp-chrome-top-buttons,
.video-ads
{
    display: none;
}

/* Adjust design */
@media (min-width: 1000px) {
  #main {
    display: flex;
    flex-direction: column-reverse;
  }
}
